@import 'owl-carousel';
.container-fluid {
	height: 100%;
	background-color: $black;
}

main {
	height: 100%;
	.featured {
		height: 60%;
		background-color: darkgray;
		.content-layer {
			padding: 6rem;
			position: absolute;
			width: 100%;
			height: 100%;
			background: transparentize($black, 0.3);
			background: -moz-linear-gradient(left, transparentize($black, 0.3) 0%, transparent 40%, transparent 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, transparentize($black, 0.3)), color-stop(40%, transparent), color-stop(100%, transparent));
			background: -webkit-linear-gradient(left, transparentize($black, 0.3) 0%, transparent 40%, transparent 100%);
			background: -o-linear-gradient(left, transparentize($black, 0.3) 0%, transparent 40%, transparent 100%);
			background: -ms-linear-gradient(left, transparentize($black, 0.3) 0%, transparent 40%, transparent 100%);
			background: linear-gradient(to right, transparentize($black, 0.3) 0%, transparent 40%, transparent 100%);
			.item-title {
				display: inline-block;
				max-width: 50%;
				padding: 2rem;
				border-left: 0.5rem solid $primary-color;
				background-color: $component-bg-color-primary;
				text-transform: uppercase;
				font-size: 5rem;
				margin-bottom: 2rem;
			}
			.item-description {
				font-size: 2.5rem;
				margin-bottom: 3rem;
				max-width: 50%;
				/* -webkit-text-stroke: 0.5px black; */
				text-shadow: 1px 1px 2px $mine-shaft-dark;
			}
		}
		button.watch-now {
			$border-size: 0.2rem;
			position: relative;
			height: 5rem;
			background: $primary-color;
			border: $border-size solid $primary-color;
			margin: 0;
			padding: 0;
			vertical-align: middle;
			outline: none;
			i.material-icons {
				vertical-align: middle;
				font-size: 3rem;
				margin: 0 1rem;
			}
			span {
				display: inline-block;
				background: $black;
				line-height: calc(5rem - (2 * #{$border-size}));
				padding: 0 3rem;
				font-size: 2rem;
			}
			>i,
			span {
				vertical-align: middle;
			}
		}
	}
	.available-content {
		height: 40%;
		background-color: $black;
		.slider-wrapper {
			position: relative;
			height: 50%;
			z-index: 1;
			.category-title {
				position: absolute;
				background-color: $bg-color-secundary;
				padding: 4px 12px;
				transform: translateY(calc(-100% - 0.5rem));
				margin: 0 0 0.5rem 6rem;
				font-size: 1.3rem;
				font-weight: bold;
			}
		}
	}
}